// var
:root {
 --primary-bg: #175BC5;
 --secondary-bg: #073784;
 --black-bg: #000;
 --white-bg: #fff;
 // menu
 --primary-menu-color: #175BC5;
 --secondary-menu-color: #073784;

 --btn-primary: #175BC5;
 --btn-danger: red;
 --btn-sucess: green;
 --btn-white: #fff;
 --btn-bg-gray: rgb(243, 243, 243);

 --color-blue: #175BC5;
 --color-red: red;
 --color-green: green;
 --color-white: #fff;
 --color-white-light: rgb(243, 243, 243);;

 --left-nav-bg: #4074C6;
}

// responsive
// Defining values
$sm: 576px;
$min: 768px;
$md: 992px;
$lg: 1200px;

// Usage
@media (max-width: $sm) {}

@media (max-width: $min) {}

@media (max-width: $md) {}

@media (max-width: $lg) {}


// fonts

h2 {
 font-size: 40px;
 font-family: 'Lato', sans-serif;
}
h3 {
 font-size: 30px;
 font-family: 'Lato', sans-serif;
}
h4 {
 font-size: 25px;
 font-family: 'Lato', sans-serif;
}
h5 {
 font-size: 20px;
 font-family: 'Lato', sans-serif;
}
h6 {
 font-size: 18px;
 font-family: 'Lato', sans-serif;
}
a,p {
 font-size: 14px;
 font-family: 'Lato', sans-serif;
}
.wrong {
 text-decoration: line-through;
 opacity: 8;
}
.green {
 color: green !important;
}
.red-color {
 color: red !important;
}

// base
nav {
 position: sticky;
 top: 0;
 z-index: 10000;
 background: #fff;
}
.top-nav {
 padding: 20px 0px;
 .top-nav-wrapper{
  display: flex; 
  .logo {
   width: 20%;
   img {
    width: 100%;
    // margin-top: 20px;
   }
  }
 }
 .top-right {
  margin-left: auto;
  display: flex;
  padding: 0;
  li {
   list-style: none;
   float: left;
  }
 }

 form {
  margin-left: 20px;
  margin-top: 10px;
  width: 65%;
  .form-group {
   .form-control {
    border-radius: 3px;
    &:focus {
     box-shadow: none;
    }
   }
  }
 }
}
.transperant {
 border-radius: 0px !important;
 border: 0px solid white !important;
 background-color: white !important;
 border-bottom: 1px solid gray !important;
}
//input 
.form-control {
 border-radius: 0 !important;
}

// option
.option {
 list-style: none;
 margin-bottom: 40px;
 padding: 0;
 .option-container {
  float: left;
  .select-option {
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   label {
    position: relative;
    input {
     position: absolute;
     opacity: 0;
     cursor: pointer;
     height: 0;
     width: 0;
    }
    .size {
     border-style: dashed;
     padding: 2px 5px;
     border-radius: 3px;
     opacity: .3;
     font-size: 12px;
     cursor: pointer;
    }
    input:checked~.size {
     opacity: 10;
    }
    .color {
     display: block;
     border-radius: 3px;
     height: 20px;
     width: 20px;
     border: solid .5px gray;
     &.green {
      background: var(--green);
     }
     &.red {
      background: var(--red);
     }
     &.blue {
      background: var(--blue);
     }
     &.white {
      background: var(--white);
     }
    }
    input:checked~.color {
     &::after {
      content: "\f00c";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #fff;
      font-size: 18px;
      position: absolute;
      left: 0;
      padding-left: 3px;
      font-size: 16px;
      top: -2px;
     }
    }
   }
  }
 }
}

.navbar {
 background-color: var(--secondary-menu-color);
 .navbar-nav {
   margin-left: auto;
  .nav-item {
   list-style: none;
   float: left;
   ul{
     li{
       a{
         color: #fff;
         text-decoration: none;
       }
     }
   }
   .nav-link {
    position: relative;
    color: #fff;
   }
  }
 }
}

.multi-menu {
 z-index: 10000000;
 position: relative;
 .catogery {
  min-width: 200px;
  .fa {
   padding-right: 10px;
  }
 }
 .menu {
  position: absolute;
  background-color: rgb(0, 110, 255);
  margin: 0;
  padding: 0;
  left: 0;
  width: 100%;
  display: none;
  li {
   padding: 8px 10px;
   list-style: none;
   color: #fff;
  }
 }
 &:hover .menu {
  display: block;
 }
}


// banner

.banner {
 position: relative;

 a {
  .container {
   .content-wrapper {
    position: relative;
    display: flex;
    .content {
     position: absolute;
     bottom: 10vh;
     z-index: 10000;
     background-color: white;
     padding: 20px;
     width: 50%;
     color: black;
     p {
      font-size: 15px;
     }
     button{
      margin-left: auto;
      display: block;
      
     }
    }
   }
  }
 }
}

// button

.btns {
 border-radius: 3px;
 padding: 3px 10px;
 font-size: 12px;
 border: solid 0px;
 font-size: 15px;
 &:focus {
  outline: solid 0px transparent !important;
 }
 &.danger {
  background-color: red;
  color: var(--btn-white);
 }
 &.primary {
  background-color: var(--btn-primary);
  color: var(--btn-white);
 }
 &.white {
  color: var(--btn-primary);
  background-color: var(--btn-white);
 }
 &.view {}
}

// notfy

.notfy {
 position: relative;
 button {
  border: solid 0px;
  background: transparent;
  &:hover {
   border: solid 0px !important;
  }
  span {
   position: absolute;
   background-color: red;
   color: #fff;
   border-radius: 50%;
   left: 0px;
   top: 10px;
   padding: 0px 7px;
   display: flex;
   font-size: 12px;
  }
 }
}

// right section
.product-container {
 padding-left: 330px;
 padding-right: 30px;
 width: 100%;
}


// left slider
.sidemenu {
 section {
  position: relative;
  .left-side-nav {
   margin-left: -300px;
   z-index: 1000000;
   .left-menu {
    display: block;
   }
  }
 }

}

section {
 position: relative;
 .left-side-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: var(--primary-bg);
  .left-menu {
   position: absolute;
   display: inline-block;
   top: 0;
   right: -30px;
   background-color: var(--primary-bg);
   padding: 5px 8px;
   color: white;
   cursor: pointer;
   display: none;
  }
  .card-header {
   background-color: var(--secondary-bg);
   a {
    display: flex;
    position: relative;
    color: #fff;
    text-decoration: none;
    i {
     position: absolute;
     right: 0;
    }
   }
  }
  .list-menu {
   list-style: none;
   li {
    a {
     color: #fff;
     text-decoration: none;
    }
   }
  }
  label {
   color: #fff;
  }
 }
}

// modal
.product-dialog {
 right: 0;
 position: fixed;
 right: 0;
 top: 0px;
 width: 30%;
 .product-content {
  padding: 0px 50px;
  background-color: #fff;
  height: 100vh;
  .product-header {
   height: 50px;
   .close {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
   }
  }
  .product-body {
   img {
    width: 100%;
   }
  }
 }
}


// product
$boxSpacing: 40px;
$columnWidth: 280px;
$rowHeight: 30px;
$imgHeightPercent: 60%;

.product-wrapper {
 width: 100%;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax($columnWidth, 1fr));
 grid-auto-rows: $rowHeight;
 grid-auto-flow: row dense;
 grid-gap: $boxSpacing;
}

.large,
.medium,
.small {
 display: flex;
 flex-flow: column nowrap;
 height: 100%;
 width: 100%;
 grid-column: auto / span 1;
 box-shadow: 0px 5px 7px 1px rgba(0, 10, 20, 0.14);
}

.large {
 grid-row: auto / span 9;
}

.medium {
 grid-row: auto / span 8;
}

.small {
 grid-row: auto / span 9;
}

.product-image {
 width: 100%;
 height: $imgHeightPercent;
 display: flex;
}

.product-image img {
 width: 100%;
 object-fit: contain;
}

.product-text {
 text-decoration: none;
 flex: 1 0 auto;
 padding: $boxSpacing;
}

.product-text p {
 margin: 0 0 0.7em 0;
 line-height: 1.3em;
 color: #334455;
}


.product-text {

 .d-flex {
  p {
   &+p {
    margin-left: 10px;
   }
  }
 }
}

// slick
.slick-arrow {
 position: absolute;
 bottom: -34px;
 border: solid 0px;
 position: absolute;
 background: #000;
 color: #fff;
 padding: 5px 10px;
 z-index: 1;

 &.slick-next {
  right: 0;
 }

 &.slick-prev {
  left: -0px;
 }
}

.slick-dots {
 position: absolute;
 bottom: 0;
 display: none;
}

// product-modal
.modal {
 z-index: 10000000000!important;
} 

.product-modal {

 .modal-dialog {
  margin: 0;
  margin-left: auto;
  min-height: 100vh;
  right: -17px;

  .modal-content {
   min-height: 100vh;
   border-radius: 0 !important;
  }
 }

 // product zoom


 .zoom {
  display: inline-block;
  position: relative;
 }

 /* magnifying glass icon */
 .zoom:after {
  content: '';
  display: block;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(icon.png);
 }

 .zoom img {
  display: block;
 }

 .zoom img::selection {
  background-color: transparent;
 }

 #ex2 img:hover {
  cursor: url(grab.cur), default;
 }

 #ex2 img:active {
  cursor: url(grabbed.cur), default;
 }
}

.product-image-box {
 padding: 40px;

 .quantity {
  display: flex;

  li {
   list-style: none;

   &+li {
    margin-left: 10px;
   }
  }
 }
}


// cart-box
.cart-box {
 position: fixed;
 right: -300px;
 top: 160px;
 bottom: 0;
 width: 300px;
 min-height: 60%;
 background-color: #fff;
 box-shadow: -4px -4px 12px #00000052;
 overflow-y: scroll;
 overflow-x: hidden;
 z-index: 10;
}

.cart-body {
 .cart-box {
  right: 0;
  padding: 20px;

  #new {
   .total-text {
    border-top: 1px gray;
    display: flex;

    #total-price {
     color: var(--color-red);
     margin-left: auto;
     font-weight: 600;
    }
   }
  }

  ol {
   margin: 0;
   padding: 14px;

   li {
    font-size: 12px;
    font-weight: 600;
    padding: 5px 0px;

    .eachPrice {
     margin-left: 5px;
     color: red;
    }

    .remove {
     margin-left: 10px;
     border: solid .5px;
     background-color: transparent;
     color: red;
    }
   }
  }
 }
}



.loade {
 display: none;
 .product-text{
   h6{
     background-color: rgb(255, 230, 0);
     padding: 15px;
     font-weight: 800;
   }
 }
}

.load-more {
 background-color: var(--color-blue);
 color: #fff !important;
 width: 100%;
 padding: 10px;
 text-align: center;
 margin-bottom: 0;
 display: inline-block;
 text-decoration: none;
}


// footer
.site-footer{
 z-index: 1000000;
  background-color:#26272b;
  padding:45px 0 20px;
  line-height:24px;
  color:#737373;
  hr{
  border-top-color:#bbb;
  opacity:0.5;
  &.small  {
    margin:20px 0;
  }
}
h6{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
}
p{
 color: var(--color-white-light);
}
a{
  color: var(--color-white-light);
  &:hover
  {
    color:#3366cc;
    text-decoration:none;
  }
}
.footer-links{
  padding-left:0;
  list-style:none;
  li{
  display:block
}
a{
  color:var(--color-white-light);
}
&.inline li{
  display:inline-block
}
}
.social-icons{
 display: inline-block;
 list-style: none;
  text-align:right;
  margin-left: auto;
  li{
   float: left;
    a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d;
    padding: 5px 10px;
    &:hover{
     background-color: var(--primary-menu-color);
     color:var(--color-white);
    }
  }
 }
}
.copyright-text
{
  margin:0
}


}





// reds
@media (max-width: $sm) {
 .menu {
  display: block;
 }
}

@media (max-width: $min) {
 section .left-side-nav {
  margin-left: -300px;
 }

 .product-container {
  padding-left: 20px;
 }

 .sidemenu section .left-side-nav {
  margin-left: 0px;

  .menu {
   display: block;
  }
 }

 section .left-side-nav .menu {
  display: block;
 }

 .banner {

  a {
   .container {
    .content-wrapper {

     .content {
      bottom: 1vh;
      width: 100%;
      background-color: transparent;

      p {
       font-size: 10px;
       display: none;
      }
     }
    }
   }
  }
 }

 .slick-arrow.slick-next{
  left: auto;
  right:0
 }
 .slick-arrow.slick-prev{
  margin-left: auto;
  left: auto;
  right:auto;
 }
 
.top-nav {
 .top-nav-wrapper{
  display: flex;
  flex-direction: column; 
  @media (max-width: $sm) {
    flex-direction: row;
  }
  .logo{
   width: 100%;
   img{
    width: 40%;
    margin: auto;
    display: block;
   @media (max-width: $sm) {
     width: 100%;
   }
   }
  }
  .form-group{
    @media (max-width: $sm) {
      display: none;
    }
  }
 }
 form{
  width:100%;
  margin-left:0px;
 }
}
.cart-box{
 top:253px;
}
.multi-menu .menu{
 position: relative;
}
nav{
 .navbar-toggler{
  border:solid 1px #fff;
  position: relative;
  color:#fff;
 }
}
}

.header{
  text-align: center;
  margin-top:50px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.small{
  margin: 20px;
}


@media (max-width: $md) {}

@media (max-width: $lg) {}